openapi: 3.0.1
info:
  title: Users
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /users:
    get:
      tags:
        - users.user
      summary: List users
      description: Retrieve a list of user objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list?view=graph-rest-1.0
      operationId: user_ListUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $top
          in: query
          description: Show only the first n items
          required: true
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
          example: 50
        - name: $search
          in: query
          description: Search items by search phrases
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $filter
          in: query
          description: Filter items by property values
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $count
          in: query
          description: Include count of items
          required: false
          style: form
          explode: false
          schema:
            type: boolean
        - name: $orderby
          in: query
          description: Order items by property values
          required: true
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - aboutMe
                - aboutMe desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - authorizationInfo
                - authorizationInfo desc
                - birthday
                - birthday desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - customSecurityAttributes
                - customSecurityAttributes desc
                - department
                - department desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeLeaveDateTime
                - employeeLeaveDateTime desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - hireDate
                - hireDate desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - interests
                - interests desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailboxSettings
                - mailboxSettings desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - mySite
                - mySite desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - pastProjects
                - pastProjects desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - preferredName
                - preferredName desc
                - print
                - print desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - securityIdentifier
                - securityIdentifier desc
                - serviceProvisioningErrors
                - serviceProvisioningErrors desc
                - showInAddressList
                - showInAddressList desc
                - signInActivity
                - signInActivity desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - skills
                - skills desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          required: true
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - aboutMe
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - authorizationInfo
                - birthday
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - customSecurityAttributes
                - department
                - deviceEnrollmentLimit
                - displayName
                - employeeHireDate
                - employeeId
                - employeeLeaveDateTime
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - hireDate
                - identities
                - imAddresses
                - interests
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailboxSettings
                - mailNickname
                - mobilePhone
                - mySite
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - pastProjects
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - preferredName
                - print
                - provisionedPlans
                - proxyAddresses
                - responsibilities
                - schools
                - securityIdentifier
                - serviceProvisioningErrors
                - showInAddressList
                - signInActivity
                - signInSessionsValidFromDateTime
                - skills
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - activities
                - agreementAcceptances
                - appRoleAssignments
                - authentication
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - chats
                - contactFolders
                - contacts
                - createdObjects
                - deviceManagementTroubleshootingEvents
                - directReports
                - drive
                - drives
                - employeeExperience
                - events
                - extensions
                - followedSites
                - inferenceClassification
                - insights
                - joinedTeams
                - licenseDetails
                - mailFolders
                - managedAppRegistrations
                - managedDevices
                - manager
                - memberOf
                - messages
                - oauth2PermissionGrants
                - onenote
                - onlineMeetings
                - outlook
                - ownedDevices
                - ownedObjects
                - people
                - permissionGrants
                - photo
                - photos
                - planner
                - presence
                - registeredDevices
                - scopedRoleMemberOf
                - settings
                - teamwork
                - todo
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          required: true
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activities
                - agreementAcceptances
                - appRoleAssignments
                - authentication
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - chats
                - contactFolders
                - contacts
                - createdObjects
                - deviceManagementTroubleshootingEvents
                - directReports
                - drive
                - drives
                - employeeExperience
                - events
                - extensions
                - followedSites
                - inferenceClassification
                - insights
                - joinedTeams
                - licenseDetails
                - mailFolders
                - managedAppRegistrations
                - managedDevices
                - manager
                - memberOf
                - messages
                - oauth2PermissionGrants
                - onenote
                - onlineMeetings
                - outlook
                - ownedDevices
                - ownedObjects
                - people
                - permissionGrants
                - photo
                - photos
                - planner
                - presence
                - registeredDevices
                - scopedRoleMemberOf
                - settings
                - teamwork
                - todo
                - transitiveMemberOf
              type: string
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of user
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.user
      summary: Create user
      description: Create a new user object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-user-create?view=graph-rest-1.0
      operationId: user_CreateUser
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
      x-ms-docs-operation-type: operation
  /users/{user-id}:
    get:
      tags:
        - users.user
      summary: Get user
      description: Read properties and relationships of the user object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-user-get?view=graph-rest-1.0
      operationId: user_GetUser
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          required: true
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - aboutMe
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - authorizationInfo
                - birthday
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - customSecurityAttributes
                - department
                - deviceEnrollmentLimit
                - displayName
                - employeeHireDate
                - employeeId
                - employeeLeaveDateTime
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - hireDate
                - identities
                - imAddresses
                - interests
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailboxSettings
                - mailNickname
                - mobilePhone
                - mySite
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - pastProjects
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - preferredName
                - print
                - provisionedPlans
                - proxyAddresses
                - responsibilities
                - schools
                - securityIdentifier
                - serviceProvisioningErrors
                - showInAddressList
                - signInActivity
                - signInSessionsValidFromDateTime
                - skills
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - activities
                - agreementAcceptances
                - appRoleAssignments
                - authentication
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - chats
                - contactFolders
                - contacts
                - createdObjects
                - deviceManagementTroubleshootingEvents
                - directReports
                - drive
                - drives
                - employeeExperience
                - events
                - extensions
                - followedSites
                - inferenceClassification
                - insights
                - joinedTeams
                - licenseDetails
                - mailFolders
                - managedAppRegistrations
                - managedDevices
                - manager
                - memberOf
                - messages
                - oauth2PermissionGrants
                - onenote
                - onlineMeetings
                - outlook
                - ownedDevices
                - ownedObjects
                - people
                - permissionGrants
                - photo
                - photos
                - planner
                - presence
                - registeredDevices
                - scopedRoleMemberOf
                - settings
                - teamwork
                - todo
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          required: true
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activities
                - agreementAcceptances
                - appRoleAssignments
                - authentication
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - chats
                - contactFolders
                - contacts
                - createdObjects
                - deviceManagementTroubleshootingEvents
                - directReports
                - drive
                - drives
                - employeeExperience
                - events
                - extensions
                - followedSites
                - inferenceClassification
                - insights
                - joinedTeams
                - licenseDetails
                - mailFolders
                - managedAppRegistrations
                - managedDevices
                - manager
                - memberOf
                - messages
                - oauth2PermissionGrants
                - onenote
                - onlineMeetings
                - outlook
                - ownedDevices
                - ownedObjects
                - people
                - permissionGrants
                - photo
                - photos
                - planner
                - presence
                - registeredDevices
                - scopedRoleMemberOf
                - settings
                - teamwork
                - todo
                - transitiveMemberOf
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.user
      summary: Update user
      description: Update the properties of a user object. Not all properties can be updated by Member or Guest users with their default permissions without Administrator roles. Compare member and guest default permissions to see properties they can manage.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-update?view=graph-rest-1.0
      operationId: user_UpdateUser
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.user
      summary: Delete user
      description: Deletes a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-user-delete?view=graph-rest-1.0
      operationId: user_DeleteUser
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
      x-ms-docs-operation-type: operation
  /users/$count:
    get:
      tags:
        - users.user
      summary: Get the number of the resource
      operationId: user_GetCount
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          required: true
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $search
          in: query
          description: Search items by search phrases
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $filter
          in: query
          description: Filter items by property values
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        2XX:
          description: The count of the resource
          content:
            text/plain:
              schema:
                type: integer
                format: int32
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                additionalProperties:
                  type: object
components:
  schemas:
    microsoft.graph.user:
      - title: user
        type: object
        properties:
          aboutMe:
            type: string
            description: A freeform text entry field for the user to describe themselves. Returned only on $select.
            nullable: true
          accountEnabled:
            type: boolean
            description: true if the account is enabled; otherwise, false. This property is required when a user is created. Returned only on $select. Supports $filter (eq, ne, not, and in).
            nullable: true
          ageGroup:
            type: string
            description: 'Sets the age group of the user. Allowed values: null, Minor, NotAdult, and Adult. For more information, see legal age group property definitions. Returned only on $select. Supports $filter (eq, ne, not, and in).'
            nullable: true
          birthday:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The birthday of the user. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014, is 2014-01-01T00:00:00Z. Returned only on $select.
            format: date-time
          businessPhones:
            type: array
            items:
              type: string
            description: 'The telephone numbers for the user. NOTE: Although it is a string collection, only one number can be set for this property. Read-only for users synced from the on-premises directory. Returned by default. Supports $filter (eq, not, ge, le, startsWith).'
          city:
            type: string
            description: The city where the user is located. Maximum length is 128 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          companyName:
            type: string
            description: The name of the company that the user is associated with. This property can be useful for describing the company that an external user comes from. The maximum length is 64 characters.Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          consentProvidedForMinor:
            type: string
            description: 'Sets whether consent was obtained for minors. Allowed values: null, Granted, Denied and NotRequired. Refer to the legal age group property definitions for further information. Returned only on $select. Supports $filter (eq, ne, not, and in).'
            nullable: true
          country:
            type: string
            description: The country or region where the user is located; for example, US or UK. Maximum length is 128 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date and time the user was created, in ISO 8601 format and UTC. The value cannot be modified and is automatically populated when the entity is created. Nullable. For on-premises users, the value represents when they were first created in Microsoft Entra ID. Property is null for some users created before June 2018 and on-premises users that were synced to Microsoft Entra ID before June 2018. Read-only. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in).
            format: date-time
            nullable: true
          creationType:
            type: string
            description: 'Indicates whether the user account was created through one of the following methods:  As a regular school or work account (null). As an external account (Invitation). As a local account for an Azure Active Directory B2C tenant (LocalAccount). Through self-service sign-up by an internal user using email verification (EmailVerified). Through self-service sign-up by an external user signing up through a link that is part of a user flow (SelfServiceSignUp). Read-only.Returned only on $select. Supports $filter (eq, ne, not, in).'
            nullable: true
          department:
            type: string
            description: The name of the department in which the user works. Maximum length is 64 characters. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in, and eq on null values).
            nullable: true
          deviceEnrollmentLimit:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: The limit on the maximum number of devices that the user is permitted to enroll. Allowed values are 5 or 1000.
            format: int32
          displayName:
            type: string
            description: The name displayed in the address book for the user. This is usually the combination of the user's first name, middle initial, and last name. This property is required when a user is created and it cannot be cleared during updates. Maximum length is 256 characters. Returned by default. Supports $filter (eq, ne, not , ge, le, in, startsWith, and eq on null values), $orderby, and $search.
            nullable: true
          employeeHireDate:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date and time when the user was hired or will start work in a future hire. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in).
            format: date-time
            nullable: true
          employeeId:
            type: string
            description: The employee identifier assigned to the user by the organization. The maximum length is 16 characters. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in, startsWith, and eq on null values).
            nullable: true
          employeeLeaveDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: 'The date and time when the user left or will leave the organization. To read this property, the calling app must be assigned the User-LifeCycleInfo.Read.All permission. To write this property, the calling app must be assigned the User.Read.All and User-LifeCycleInfo.ReadWrite.All permissions. To read this property in delegated scenarios, the admin needs one of the following Microsoft Entra roles: Lifecycle Workflows Administrator, Global Reader, or Global Administrator. To write this property in delegated scenarios, the admin needs the Global Administrator role. Supports $filter (eq, ne, not , ge, le, in). For more information, see Configure the employeeLeaveDateTime property for a user.'
            format: date-time
            nullable: true
          employeeType:
            type: string
            description: Captures enterprise worker type. For example, Employee, Contractor, Consultant, or Vendor. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in, startsWith).
            nullable: true
          externalUserState:
            type: string
            description: For an external user invited to the tenant using the invitation API, this property represents the invited user's invitation status. For invited users, the state can be PendingAcceptance or Accepted, or null for all other users. Returned only on $select. Supports $filter (eq, ne, not , in).
            nullable: true
          externalUserStateChangeDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Shows the timestamp for the latest change to the externalUserState property. Returned only on $select. Supports $filter (eq, ne, not , in).
            format: date-time
            nullable: true
          faxNumber:
            type: string
            description: The fax number of the user. Returned only on $select. Supports $filter (eq, ne, not , ge, le, in, startsWith, and eq on null values).
            nullable: true
          givenName:
            type: string
            description: The given name (first name) of the user. Maximum length is 64 characters. Returned by default. Supports $filter (eq, ne, not , ge, le, in, startsWith, and eq on null values).
            nullable: true
          hireDate:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: 'The hire date of the user. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014, is 2014-01-01T00:00:00Z. Returned only on $select.  Note: This property is specific to SharePoint Online. We recommend using the native employeeHireDate property to set and update hire date values using Microsoft Graph APIs.'
            format: date-time
          imAddresses:
            type: array
            items:
              type: string
              nullable: true
            description: The instant message voice-over IP (VOIP) session initiation protocol (SIP) addresses for the user. Read-only. Returned only on $select. Supports $filter (eq, not, ge, le, startsWith).
          interests:
            type: array
            items:
              type: string
              nullable: true
            description: A list for the user to describe their interests. Returned only on $select.
          isResourceAccount:
            type: boolean
            description: Do not use – reserved for future use.
            nullable: true
          jobTitle:
            type: string
            description: The user's job title. Maximum length is 128 characters. Returned by default. Supports $filter (eq, ne, not , ge, le, in, startsWith, and eq on null values).
            nullable: true
          lastPasswordChangeDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The time when this Microsoft Entra user last changed their password or when their password was created, whichever date the latest action was performed. The date and time information uses ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Returned only on $select.
            format: date-time
            nullable: true
          legalAgeGroupClassification:
            type: string
            description: 'Used by enterprise applications to determine the legal age group of the user. This property is read-only and calculated based on ageGroup and consentProvidedForMinor properties. Allowed values: null, MinorWithOutParentalConsent, MinorWithParentalConsent, MinorNoParentalConsentRequired, NotAdult, and Adult. Refer to the legal age group property definitions for further information. Returned only on $select.'
            nullable: true
          mail:
            type: string
            description: 'The SMTP address for the user, for example, jeff@contoso.com. Changes to this property update the user''s proxyAddresses collection to include the value as an SMTP address. This property can''t contain accent characters.  NOTE: We don''t recommend updating this property for Azure AD B2C user profiles. Use the otherMails property instead. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, endsWith, and eq on null values).'
            nullable: true
          mailNickname:
            type: string
            description: The mail alias for the user. This property must be specified when a user is created. Maximum length is 64 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          mobilePhone:
            type: string
            description: The primary cellular telephone number for the user. Read-only for users synced from the on-premises directory. Maximum length is 64 characters. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values) and $search.
            nullable: true
          mySite:
            type: string
            description: The URL for the user's site. Returned only on $select.
            nullable: true
          officeLocation:
            type: string
            description: The office location in the user's place of business. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          onPremisesDistinguishedName:
            type: string
            description: Contains the on-premises Active Directory distinguished name or DN. The property is only populated for customers who are synchronizing their on-premises directory to Microsoft Entra ID via Microsoft Entra Connect. Read-only. Returned only on $select.
            nullable: true
          onPremisesDomainName:
            type: string
            description: Contains the on-premises domainFQDN, also called dnsDomainName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Microsoft Entra ID via Microsoft Entra Connect. Read-only. Returned only on $select.
            nullable: true
          onPremisesImmutableId:
            type: string
            description: 'This property is used to associate an on-premises Active Directory user account to their Microsoft Entra user object. This property must be specified when creating a new user account in the Graph if you''re using a federated domain for the user''s userPrincipalName (UPN) property. NOTE: The $ and _ characters can''t be used when specifying this property. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in)..'
            nullable: true
          onPremisesLastSyncDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: 'Indicates the last time at which the object was synced with the on-premises directory; for example: 2013-02-16T03:04:54Z. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in).'
            format: date-time
            nullable: true
          onPremisesSamAccountName:
            type: string
            description: Contains the on-premises samAccountName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Microsoft Entra ID via Microsoft Entra Connect. Read-only. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith).
            nullable: true
          onPremisesSecurityIdentifier:
            type: string
            description: Contains the on-premises security identifier (SID) for the user that was synchronized from on-premises to the cloud. Read-only. Returned only on $select.  Supports $filter (eq including on null values).
            nullable: true
          onPremisesSyncEnabled:
            type: boolean
            description: true if this user object is currently being synced from an on-premises Active Directory (AD); otherwise the user isn't being synced and can be managed in Microsoft Entra ID. Read-only. Returned only on $select. Supports $filter (eq, ne, not, in, and eq on null values).
            nullable: true
          onPremisesUserPrincipalName:
            type: string
            description: Contains the on-premises userPrincipalName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Microsoft Entra ID via Microsoft Entra Connect. Read-only. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith).
            nullable: true
          otherMails:
            type: array
            items:
              type: string
            description: 'A list of additional email addresses for the user; for example: [''bob@contoso.com'', ''Robert@fabrikam.com'']. NOTE: This property can''t contain accent characters. Returned only on $select. Supports $filter (eq, not, ge, le, in, startsWith, endsWith, /$count eq 0, /$count ne 0).'
          passwordPolicies:
            type: string
            description: 'Specifies password policies for the user. This value is an enumeration with one possible value being DisableStrongPassword, which allows weaker passwords than the default policy to be specified. DisablePasswordExpiration can also be specified. The two may be specified together; for example: DisablePasswordExpiration, DisableStrongPassword. Returned only on $select. For more information on the default password policies, see Microsoft Entra password policies. Supports $filter (ne, not, and eq on null values).'
            nullable: true
          passwordProfile:
            title: passwordProfile
            type: object
            properties:
              forceChangePasswordNextSignIn:
                type: boolean
                description: true if the user must change her password on the next login; otherwise false.
                nullable: true
              forceChangePasswordNextSignInWithMfa:
                type: boolean
                description: If true, at next sign-in, the user must perform a multi-factor authentication (MFA) before being forced to change their password. The behavior is identical to forceChangePasswordNextSignIn except that the user is required to first perform a multi-factor authentication before password change. After a password change, this property will be automatically reset to false. If not set, default is false.
                nullable: true
              password:
                type: string
                description: The password for the user. This property is required when a user is created. It can be updated, but the user will be required to change the password on the next login. The password must satisfy minimum requirements as specified by the user's passwordPolicies property. By default, a strong password is required.
                nullable: true
            additionalProperties:
              type: object
          pastProjects:
            type: array
            items:
              type: string
              nullable: true
            description: A list for the user to enumerate their past projects. Returned only on $select.
          postalCode:
            type: string
            description: The postal code for the user's postal address. The postal code is specific to the user's country/region. In the United States of America, this attribute contains the ZIP code. Maximum length is 40 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          preferredDataLocation:
            type: string
            description: The preferred data location for the user. For more information, see OneDrive Online Multi-Geo.
            nullable: true
          preferredLanguage:
            type: string
            description: 'The preferred language for the user. The preferred language format is based on RFC 4646. The name is a combination of an ISO 639 two-letter lowercase culture code associated with the language and an ISO 3166 two-letter uppercase subculture code associated with the country or region. Example: ''en-US'', or ''es-ES''. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values)'
            nullable: true
          preferredName:
            type: string
            description: The preferred name for the user. Not Supported. This attribute returns an empty string.Returned only on $select.
            nullable: true
          proxyAddresses:
            type: array
            items:
              type: string
            description: 'For example: [''SMTP: bob@contoso.com'', ''smtp: bob@sales.contoso.com'']. Changes to the mail property will also update this collection to include the value as an SMTP address. For more information, see mail and proxyAddresses properties. The proxy address prefixed with SMTP (capitalized) is the primary proxy address while those prefixed with smtp are the secondary proxy addresses. For Azure AD B2C accounts, this property has a limit of 10 unique addresses. Read-only in Microsoft Graph; you can update this property only through the Microsoft 365 admin center. Not nullable. Returned only on $select. Supports $filter (eq, not, ge, le, startsWith, endsWith, /$count eq 0, /$count ne 0).'
          responsibilities:
            type: array
            items:
              type: string
              nullable: true
            description: A list for the user to enumerate their responsibilities. Returned only on $select.
          schools:
            type: array
            items:
              type: string
              nullable: true
            description: A list for the user to enumerate the schools they have attended. Returned only on $select.
          securityIdentifier:
            type: string
            description: Security identifier (SID) of the user, used in Windows scenarios. Read-only. Returned by default. Supports $select and $filter (eq, not, ge, le, startsWith).
            nullable: true
          showInAddressList:
            type: boolean
            description: Do not use in Microsoft Graph. Manage this property through the Microsoft 365 admin center instead. Represents whether the user should be included in the Outlook global address list. See Known issue.
            nullable: true
          signInActivity:
            title: signInActivity
            type: object
            properties:
              lastNonInteractiveSignInDateTime:
                pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
                type: string
                description: 'The last non-interactive sign-in date for a specific user. You can use this field to calculate the last time a client attempted (either successfully or unsuccessfully) to sign in to the directory on behalf of a user. Because some users may use clients to access tenant resources rather than signing into your tenant directly, you can use the non-interactive sign-in date to along with lastSignInDateTime to identify inactive users. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is: ''2014-01-01T00:00:00Z''. Microsoft Entra ID maintains non-interactive sign-ins going back to May 2020. For more information about using the value of this property, see Manage inactive user accounts in Microsoft Entra ID.'
                format: date-time
                nullable: true
              lastNonInteractiveSignInRequestId:
                type: string
                description: Request identifier of the last non-interactive sign-in performed by this user.
                nullable: true
              lastSignInDateTime:
                pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
                type: string
                description: 'The last interactive sign-in date and time for a specific user. You can use this field to calculate the last time a user attempted (either successfully or unsuccessfully) to sign in to the directory with an interactive authentication method. This field can be used to build reports, such as inactive users. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is: ''2014-01-01T00:00:00Z''. Microsoft Entra ID maintains interactive sign-ins going back to April 2020. For more information about using the value of this property, see Manage inactive user accounts in Microsoft Entra ID.'
                format: date-time
                nullable: true
              lastSignInRequestId:
                type: string
                description: Request identifier of the last interactive sign-in performed by this user.
                nullable: true
            additionalProperties:
              type: object
          signInSessionsValidFromDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Any refresh tokens or sessions tokens (session cookies) issued before this time are invalid, and applications get an error when using an invalid refresh or sessions token to acquire a delegated access token (to access APIs such as Microsoft Graph).  If this happens, the application needs to acquire a new refresh token by requesting the authorized endpoint. Read-only. Use revokeSignInSessions to reset. Returned only on $select.
            format: date-time
            nullable: true
          skills:
            type: array
            items:
              type: string
              nullable: true
            description: A list for the user to enumerate their skills. Returned only on $select.
          state:
            type: string
            description: The state or province in the user's address. Maximum length is 128 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          streetAddress:
            type: string
            description: The street address of the user's place of business. Maximum length is 1024 characters. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          surname:
            type: string
            description: The user's surname (family name or last name). Maximum length is 64 characters. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).
            nullable: true
          usageLocation:
            type: string
            description: 'A two-letter country code (ISO standard 3166). Required for users that are assigned licenses due to legal requirements to check for availability of services in countries.  Examples include: US, JP, and GB. Not nullable. Returned only on $select. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values).'
            nullable: true
          userPrincipalName:
            type: string
            description: 'The user principal name (UPN) of the user. The UPN is an Internet-style sign-in name for the user based on the Internet standard RFC 822. By convention, this should map to the user''s email name. The general format is alias@domain, where the domain must be present in the tenant''s collection of verified domains. This property is required when a user is created. The verified domains for the tenant can be accessed from the verifiedDomains property of organization.NOTE: This property can''t contain accent characters. Only the following characters are allowed A - Z, a - z, 0 - 9, '' . - _ ! # ^ ~. For the complete list of allowed characters, see username policies. Returned by default. Supports $filter (eq, ne, not, ge, le, in, startsWith, endsWith) and $orderby.'
            nullable: true
          userType:
            type: string
            description: 'A string value that can be used to classify user types in your directory, such as Member and Guest. Returned only on $select. Supports $filter (eq, ne, not, in, and eq on null values). NOTE: For more information about the permissions for member and guest users, see What are the default user permissions in Microsoft Entra ID?'
            nullable: true
          createdObjects:
            type: array
            items:
              - title: entity
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for an entity. Read-only.
                additionalProperties:
                  type: object
              - title: directoryObject
                type: object
                properties:
                  deletedDateTime:
                    pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
                    type: string
                    description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                    format: date-time
                    nullable: true
                additionalProperties:
                  type: object
            description: Directory objects that the user created. Read-only. Nullable.
            x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      - title: entity
        type: object
        properties:
          id:
            type: string
            description: The unique identifier for an entity. Read-only.
        additionalProperties:
          type: object
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
            nullable: true
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.userCollectionResponse:
      title: Collection of user
      type: object
      properties:
        value:
          type: array
          items:
            type: object
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.passwordProfile:
      title: passwordProfile
      type: object
      properties:
        forceChangePasswordNextSignIn:
          type: boolean
          description: true if the user must change her password on the next login; otherwise false.
          nullable: true
        forceChangePasswordNextSignInWithMfa:
          type: boolean
          description: If true, at next sign-in, the user must perform a multi-factor authentication (MFA) before being forced to change their password. The behavior is identical to forceChangePasswordNextSignIn except that the user is required to first perform a multi-factor authentication before password change. After a password change, this property will be automatically reset to false. If not set, default is false.
          nullable: true
        password:
          type: string
          description: The password for the user. This property is required when a user is created. It can be updated, but the user will be required to change the password on the next login. The password must satisfy minimum requirements as specified by the user's passwordPolicies property. By default, a strong password is required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.signInActivity:
      title: signInActivity
      type: object
      properties:
        lastNonInteractiveSignInDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: 'The last non-interactive sign-in date for a specific user. You can use this field to calculate the last time a client attempted (either successfully or unsuccessfully) to sign in to the directory on behalf of a user. Because some users may use clients to access tenant resources rather than signing into your tenant directly, you can use the non-interactive sign-in date to along with lastSignInDateTime to identify inactive users. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is: ''2014-01-01T00:00:00Z''. Microsoft Entra ID maintains non-interactive sign-ins going back to May 2020. For more information about using the value of this property, see Manage inactive user accounts in Microsoft Entra ID.'
          format: date-time
          nullable: true
        lastNonInteractiveSignInRequestId:
          type: string
          description: Request identifier of the last non-interactive sign-in performed by this user.
          nullable: true
        lastSignInDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: 'The last interactive sign-in date and time for a specific user. You can use this field to calculate the last time a user attempted (either successfully or unsuccessfully) to sign in to the directory with an interactive authentication method. This field can be used to build reports, such as inactive users. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is: ''2014-01-01T00:00:00Z''. Microsoft Entra ID maintains interactive sign-ins going back to April 2020. For more information about using the value of this property, see Manage inactive user accounts in Microsoft Entra ID.'
          format: date-time
          nullable: true
        lastSignInRequestId:
          type: string
          description: Request identifier of the last interactive sign-in performed by this user.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      additionalProperties:
        type: object
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      properties:
        value:
          type: array
          items:
            type: object
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ReferenceUpdate:
      type: object
      properties:
        '@odata.id':
          type: string
        '@odata.type':
          type: string
          nullable: true
      additionalProperties:
        type: object
  responses:
    microsoft.graph.userCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            title: Collection of user
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
              '@odata.nextLink':
                type: string
                nullable: true
            additionalProperties:
              type: object
    error:
      description: error
      content:
        application/json:
          schema:
            required:
              - error
            type: object
            additionalProperties:
              type: object
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            title: Collection of directoryObject
            type: object
            properties:
              value:
                type: array
                items:
                  type: object
              '@odata.nextLink':
                type: string
                nullable: true
            additionalProperties:
              type: object
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            type: integer
            format: int32
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      required: true
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    search:
      name: $search
      in: query
      description: Search items by search phrases
      required: true
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      required: true
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      required: true
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      required: true
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  requestBodies:
    refPutBody:
      description: New navigation property ref values
      content:
        application/json:
          schema:
            type: object
            properties:
              '@odata.id':
                type: string
              '@odata.type':
                type: string
                nullable: true
            additionalProperties:
              type: object
      required: true
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
security:
  - azureaadv2: []
